ALTER TABLE bookings RENAME COLUMN duration TO duration_total_minutes; ALTER TABLE bookings ADD COLUMN duration_hours integer; ALTER TABLE bookings ADD COLUMN duration_minutes integer; UPDATE bookings SET duration_hours = duration_total_minutes / 60, duration_minutes = duration_total_minutes % 60;
